*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html,
body
{
	height: 100%;
}

body
{
	font-size: 12px;
	color: #999;
	line-height: 18px;
}

h1
{
	font-size: 12px;
	margin-bottom: 12px;
	color: #333;
}

#text
{
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 10;
}

#graph
{
	background: #ffffff;
}

a
{
	color: #999;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #333;
}

a.active
{
	
	color: #06F;
}

a.active:hover
{
	text-decoration: none;
	color: #06F;
	cursor: default;
}